{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {
      "plugins": ["react-native-paper/babel"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ios.ts", ".android.ts", ".ts", ".ios.tsx", ".android.tsx", ".tsx", ".jsx", ".js", ".json"],
        "alias": {
          "@sz/assets": "./src/assets/index",
          "@sz/components": "./src/components/index",
          "@sz/config": "./src/config/index",
          "@sz/constants": "./src/constants/index",
          "@sz/hooks": "./src/hooks/index",
          "@sz/layout": "./src/layout/index",
          "@sz/models": "./src/models/index",
          "@sz/routes": "./src/routes/index",
          "@sz/screens": "./src/screens/index",
          "@sz/services": "./src/services/index",
          "@sz/stores": "./src/stores/index",
          "@sz/utils": "./src/utils/index"
        }
      }
    ]
  ]
}
